<% if !current_user.meetups.include?(@meetup)%>
  <%= form_tag rsvps_path, class: "btn", method: :post do %>
    <%= hidden_field_tag "rsvp[user_id]", current_user.id %>
    <%= hidden_field_tag "rsvp[meetup_id]", @meetup.id %>
    <%= submit_tag 'RSVP to this meetup', class: "btn outline btn-success" %>
  <% end %>
<% end %>
<button type="button" name="button" class="btn btn-primary outline">Log a Result</button>
<button type="button" name="button" class="btn btn-danger outline">Post a Comment</button>

<hr>

<div id="meetup-info">
  <h3><%= @meetup.location_string %></h3>
  <p class="light-grey"><%= @meetup.location_address %></p>
  <h3>Notes</h3>
  <p class="light-grey"><%= @meetup.meetup_notes %></p>
  <h3>Comments</h3>

  <%= form_for @comment, html: {class: "form-horizontal"} do |f| %>

    <%= f.hidden_field :commentable_type, :value => @meetup.class %>
    <%= f.hidden_field :commentable_id, :value => @meetup.id %>

    <div class="form-group">
      <%= f.text_field :title, placeholder: "Title", class: "col-md-8 styled-input" %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, placeholder: "Body", class: "col-md-8 styled-input" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-success outline" %>
      <%= link_to "Cancel", admin_path, class: "btn btn-danger outline" %>
    </div>

  <% end %>

  <!-- <div class="well">
    <h5>etochort</h5>
    <p class="light-grey">
      This is a title that is kind of long
    </p>
    <hr>
    <p class="light-grey">
      Hipster paragraphs about gourmet cheeses and custom Italian bike frame.
      Brew your own kombucha and where courier hats.Hipster paragraphs about gourmet cheeses and custom Italian bike frame.
      Brew your own kombucha and where courier hats.

      Hipster paragraphs about gourmet cheeses and custom Italian bike frame. Brew your own kombucha and where courier hats.
    </p>
  </div> -->
</div>

<h3 class="inline-block">GAMES AVAILABLE</h3><span class="glyphicon glyphicon-collapse-up light-grey" aria-hidden="true" id="collection-toggle"></span>
<div id="games-available">
  <input id="quicksearch" class="styled-input" type="text" name="name" value="" placeholder="Filter">

  <div id="masonry-div">
    <% @collections.each do |game| %>
      <div class="item"
        data-game-name="<%= game.name %>"
        data-game-description="<%= game.description %>"
        data-year-published="<%= game.year_published %>"
        data-min-players="<%= game.min_players %>"
        data-max-players="<%= game.max_players %>"
        data-game-designer="<%= game.game_designer %>"
        data-bgg-id="<%= game.bgg_id %>"
        >
          <img src="<%= medium_img_url(game.thumbnail) %>" alt="Picture of <%= game.name %> game box." />
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "modals/game_info_modal" %>
