<%= form_tag rsvps_path, class: "btn", method: :post do %>
  <%= hidden_field_tag "rsvp[user_id]", current_user.id %>
  <%= hidden_field_tag "rsvp[meetup_id]", @meetup.id %>
  <%= submit_tag 'RSVP to this meetup', class: "btn outline btn-success" %>
<% end %>

<button type="button" name="button" class="btn btn-primary outline">Log a Result</button>

<hr>

<div id="meetup-info">
  <h3 class="brand-color"><%= @meetup.location_string %></span></h3>
  <p class="light-grey"><%= @meetup.location_address %></p>
  <h3>Notes</h3>
  <p class="light-grey"><%= @meetup.meetup_notes %></p>
</div>


<h2 class="inline-block">GAMES AVAILABLE</h2><span class="glyphicon glyphicon-collapse-up light-grey" aria-hidden="true" id="collection-toggle"></span>
<div id="games-available">
  <input id="quicksearch" class="styled-input" type="text" name="name" value="" placeholder="Filter">

  <div id="masonry-div">
    <% @collections.each do |game| %>
      <div class="item"
        data-game-name="<%= game.name %>"
        data-game-description="<%= game.description %>"
        data-year-published="<%= game.year_published %>"
        data-min-players="<%= game.min_players %>"
        data-max-players="<%= game.max_players %>"
        data-game-designer="<%= game.game_designer %>"
        data-bgg-id="<%= game.bgg_id %>"
        >
          <img src="<%= medium_img_url(game.thumbnail) %>" alt="Picture of <%= game.name %> game box." />
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "modals/game_info_modal" %>
