<div class="panel panel-default">
  <div class="panel-heading">
    About <%= @group.name %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Where we are: </strong><%= @group.location %>
    </p>

    <p>
      <strong>Who we are: </strong><%= @group.description %>
    </p>

    <p>
      <strong>Members: </strong><%= @group.users.count %>
    </p>

    <hr>

    <p>
      <strong>Upcoming meetups: </strong><%#= @group.meetups %>
    </p>
    <ul>
      <li>January 47th, 5 PM @ Muddy's</li>
      <li>Martember 5st, 5 PM @ The Red Vic</li>
      <li>Augurary 112th, 5 PM @ Gamescape</li>
      <li>Juny 4th, 5 PM @ Muddy's</li>
    </ul>
  </div>
</div>

<%= render_join_button %>
<%= render_leave_button %>
<%= render_admin_button %>
