<p><strong>Where: </strong><%= @group.location %></p>

<p><strong>What: </strong><%= @group.description %></p>

<p><strong>Members: </strong><%= @group.users.count %></p>

<hr>

<p><strong>Upcoming meetups: </strong></p>

<ul>
  <% @group.meetups.each do |meetup| %>
    <li><%= link_to "#{meetup.location_string}" + " - " + "#{meetup.meetup_date.strftime("%A, %b %d")}" + " @ " + "#{meetup.start_time.strftime("%I:%M %p")}", meetup_path(meetup) %></li>
  <% end %>
</ul>


<%= render_join_button %>
<%= render_leave_button %>
<%= render_admin_button %>
