<h3>Where:</h3>
<p ><%= @group.location %></p>

<h3>What:</h3>
<p ><%= @group.description %></p>

<h3>Members:</h3>
<p ><%= @group.users.count %></p>

<hr>

<h3>Upcoming meetups:</h3>

<ul>
  <% @group.meetups.each do |meetup| %>
    <li><%= link_to "#{meetup.location_string}" + " - " + "#{meetup.meetup_date.strftime("%A, %b %d")}" + " @ " + "#{meetup.start_time.strftime("%I:%M %p")}", meetup_path(meetup) %></li>
  <% end %>
</ul>


<%= render_join_button %>
<%= render_leave_button %>
<%= render_admin_button %>
