<div class="col-md-3">
  <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs navbar-brand">Sidebar menu</span>
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="<%= profile_active %>"><a href="/users/<%= current_user.id if current_user %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Profile</a></li>
          <li class="<%= collection_active %>"><a href="/collection"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>My Collection</a></li>
          <li class="<%= inbox_active %>"><a href="/messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Inbox<span class="badge<%= has_unread? %>"><%= @message_count %></span></a></li>
          <li class="<%= meetup_active %>"><a href="/meetups"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>My Meetups</a></li>
          <li class="dropdown <%= group_active %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Groups<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/groups">My Groups</a></li>
              <li><a href="/find-groups">Join a Group</a></li>
              <li><a href="/groups/new">Create a new Group</a></li>
              <!-- <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li> -->
            </ul>
          </li>
          <li class="<%= account_active %>"><a href="/account"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Account</a></li>

          <% if current_user %>
            <li>
              <%= link_to "<span class=\"glyphicon glyphicon-log-out\" aria-hidden=\"true\"></span>Log Out".html_safe, destroy_user_session_path, method: :delete %>
            </li>
          <% end %>

        </ul>
      </div><!--/.nav-collapse -->

    </div>

    <% if @attendees %>
      <div id="rsvp-info">
        <h2>RSVPs</h2>
          <ul>
            <% @attendees.each do |usr| %>
              <li><p><%= usr.username %></p></li>
            <% end %>
          </ul>
      </div>
    <% end %>

  </div>

</div>
