<div class="modal fade" id="logResultModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Log result</h3>
      </div>
      <div class="modal-body">
        <%= form_for @result, html: {class: "form-horizontal"} do |f| %>
          <h5>Which game?</h5>

          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :meetup_id, :value => @meetup.id %>

          <%= f.collection_select(:game_id, @collections, :id, :name) %>

          <%= f.label "Check the box if you won" %>
          <%= f.check_box(:result) %>
          <hr>
          <%= f.submit "Log Result", class: "btn btn-primary outline" %>
          <%= link_to "Cancel", meetup_path(@meetup), class: "btn btn-primary outline" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
