<!DOCTYPE html>
<html>
<head>
  <title>GameGenie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      Current user: <%= current_user.email %> <br>
      Current username: <%= current_user.username %> <br>
      <%= link_to "log out", destroy_user_session_path, method: :delete %>
    <% end %>
  </header>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
