<!DOCTYPE html>
<html>
<head>
  <title>GameGenie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="#">Meetups</a></li>
    <li><a href="#">My Collection</a></li>
    <% if current_user %>
    <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
    <li><a href="#"><%= current_user.username %></a></li>
    <% end %>

  </ul>
</nav>
  </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>


</body>
</html>
