<!DOCTYPE html>
<html>
<head>
  <title>Cardboard</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <h1 id="board-logo"><a href="/">Cardboard</a></h1>
      </div>
      <div class="col-sm-9">
        <h1 id="header-logo"><%= returns_current_page_header %></h1>
      </div>
    </div>

    <div class="row">
      <%= render partial: "shared/navbar" %>

      <div class="col-sm-9 well" id="primary-content"> <!-- main content-->

        <% if notice %>
          <div class="notice alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
